.container {
  display: flex;
  align-items: center;
  margin: 0 1.063em;
  position: relative;
}

.button {
  min-width: 3.125em;
  height: 1.692em;
  line-height: 1.692em;
  background-color: var(--color-yellow-2);
  text-align: center;
  border-radius: 0.308em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  margin: 0 0.188em;
}

button svg {
  stroke: var(--icon-default-color);
}

.group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.text {
  font-weight: 400;
  max-width: 7.143em;
  font-size: 1em;
}

.check_icon {
  position: absolute;
  right: -1.25em;
  fill: var(--color-green-3);
  animation: showHide 1.5s ease forwards;
}

@keyframes showHide {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
