.container,
.item {
  width: stretch;
  width: -webkit-fill-available;
  width: -moz-available;
}

.item:global(.isDropItem):global(.after)::after,
.item:global(.isDropItem):global(.before)::before {
  content: '';
  height: 0.125em;
  background-color: var(--color-orange-12);
  display: block;
}
