/*EditableText.tsx*/
.editable_text {
  overflow: hidden;
}

.item_text_content {
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--color-gray-3);
  padding: 0.313em;
  border-radius: 0.313em;
  max-width: 100%;
}

/*EditableTextControl.tsx*/
.control_panel {
  height: 0.5em;
  right: 0.3em;
  border-radius: 0.313em;
  display: flex;
  align-items: center;
  height: 2.125em;
  width: 2.125em;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.1s linear;
  position: absolute;
}

.item_text_content:hover .control_panel {
  visibility: visible;
  opacity: 1;
}

/*EditableTextItem.tsx*/
div.text {
  font-size: 1.5em;
  font-weight: 400;
  max-width: 100%;
}

/*EditableTextButton.tsx*/
.button {
  font-size: 0.7em;
}

.button svg {
  stroke: var(--icon-default-color);
}

/*EditableTextInput.tsx*/
.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.2em;
}
