.app {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--color-gray-body);
}

.app_navigation {
  display: flex;
  width: auto;
  max-width: 80%;
  box-sizing: border-box;
  flex-grow: 1;
  min-height: 0;
  font-weight: 600;
}

.app_top_bar {
  margin-bottom: 0.313em;
  min-height: 5em;
  background-color: var(--color-gray-f);
  display: flex;
  justify-content: space-between;
  padding: 0 2em;
  align-items: center;
}

* {
  color: var(--color-gray-0);
}

* a {
  text-decoration: none;
  color: var(--color-gray-2);
  font-size: 16px;
}

/*AppCustomBreadcrumb*/
.breadcrumb_item {
  padding: 0.2em;
}

.breadcrumb_item:hover {
  background-color: var(--color-yellow-8);
  border-radius: 5px;
}
