/* SettingsPanel.tsx */
.config {
  display: flex;
  flex-direction: column;
  width: stretch;
  width: -webkit-fill-available;
  width: -moz-available;
  --ul-display: block;
  --ul-align-items: unset;
  --ul-margin: 1em 0;
  --h4-margin: 1em 0;
  --li-margin: 0 0 0.313em 0;
}

.config ul {
  list-style-type: none;
  padding-inline-start: 0;
  display: var(--ul-display);
  align-items: var(--ul-align-items);
  margin: var(--ul-margin);
}

.config ul li:not(:last-child) {
  margin: var(--li-margin);
}

.config h4 {
  margin: var(--h4-margin);
}

.text {
  max-width: -webkit-fill-available;
  margin-bottom: 0.188em;
}

.stack {
  background-color: var(--color-gray-4);
  padding: 0.313em;
  border-radius: 0.313em;
  margin: 0.5em 0;
}

.stack_row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.stack_row span {
  margin: 0 0.25em;
}

/*SettingsItem.tsx*/
.item {
  width: stretch;
  width: -webkit-fill-available;
  width: -moz-available;
  margin-bottom: 0.625em;
  background-color: var(--color-gray-f);
  border-radius: 0.438em;
  transition: border-width 0.1s ease;
}

.stack .item {
  margin-bottom: 0;
}

.item_required {
  border: 0.154em solid var(--color-red-5);
}

.color_picker {
  padding: 0;
  height: 2.188em;
}

.radio_group {
  --item-color: var(--color-gray-3);
  justify-content: start;
}

.checkbox {
  background-color: transparent;
}

.checkbox span::before {
  background-color: var(--color-gray-f);
}
