.start_button_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 0.417em 7.25em 0.333em;
  display: flex;
  align-items: center;
}

.button span {
  margin-right: 0.2em;
}
