.label {
  --text-color: var(--color-gray-9);
  --text-font-size: unset;
  height: 1.563em;
  line-height: 1.563em;
  text-align: center;
  border-radius: 0.308em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.5em;
  background-color: var(--color-gray-f);
  margin: 0.2em;
}

.label:hover {
  user-select: none;
}

div.text,
div.text_value {
  color: var(--text-color);
  font-weight: 400;
  max-width: 14.286em;
  margin: 0;
  font-size: var(--text-font-size);
}

div.text_value {
  margin: 0 0.2em;
}
