.container {
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.spinner {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2.25em;
}

.table {
  width: stretch;
  width: -webkit-fill-available;
  width: -moz-available;
  display: flex;
  flex-direction: column;
  min-height: 0;
  --justify-cell-body: center;
}

.cell_text {
  font-size: 0.813em;
  font-weight: 400;
  max-width: 18.75em;
}

.table_cell_body {
  width: 80%;
  display: flex;
  justify-content: var(--justify-cell-body);
  align-items: center;
  min-height: 3em;
  margin: auto;
}

.remove_button {
  margin: 0 0.5em;
}

.input_cell_spinner {
  position: absolute;
  width: 1em;
}
