.group {
  --item-hover-color: var(--color-yellow-8);
  --item-checked-color: var(--color-orange-12);
  --item-margin: 0.2em;
  --item-padding: 0.267em 1em;
  --item-border-radius: 0.25em;
  --item-outline: 0.167em solid var(--color-yellow-7-corporate);
  --item-width: unset;
  --item-color: unset;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.188em;
  background-color: var(--color-gray-f);
  border-radius: 0.25em;
}
