/*EditableSideMenu.jsx*/
.editable_side_menu {
  --main-plus-button-justify: space-between;
  --main-plus-button-padding: 0.625em 0.938em;
  --item-children-visible-bg-color: var(--color-gray-f);
  height: stretch;
  height: -webkit-fill-available;
  height: -moz-available;
  width: 20%;
  background-color: var(--color-gray-menu);
  padding: 0.625em;
  box-sizing: border-box;
  overflow: auto;
}

.main_plus_button {
  display: flex;
  align-items: center;
  justify-content: var(--main-plus-button-justify);
  width: stretch;
  width: -webkit-fill-available;
  width: -moz-available;
  padding: var(--main-plus-button-padding);
  margin-bottom: 0.126em;
}

.main_plus_button:not(:global(.hasChildItems)) .show_children_button {
  visibility: hidden;
}

.drop_item::after,
.drop_item::before {
  box-shadow: -6.25em 0 0 var(--color-brand-yellow);
}

/*ItemButton.jsx*/
.button {
  background-color: var(--color-gray-f);
  border: 0.063em solid var(--color-gray-5);
  font-size: 0.75em;
  margin: 0 0.313em;
}

.button_icon svg {
  stroke: var(--color-gray-icon);
}

/*Item.jsx*/
.item_container {
  display: flex;
  flex-direction: column;
  width: stretch;
  width: -webkit-fill-available;
  width: -moz-available;
  border-radius: 0.313em;
  overflow: hidden;
}

.item_container:global(.isChild) {
  padding-right: 0;
  overflow: visible;
}

.item_container:global(:not(.isChild)):global(.areChildrenVisible) {
  background-color: var(--item-children-visible-bg-color);
  overflow: hidden;
  margin-bottom: 0.126em;
}

.item_container:global(.isChild) {
  background-color: var(--color-gray-menu-child-bg);
  box-shadow: -6.25em 0 0 var(--color-gray-menu-child-bg);
}

.item_button:focus-visible {
  outline: unset;
  background-color: var(--color-gray-body);
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.625em 0.938em;
  border-radius: 0.313em;
  width: stretch;
  width: -webkit-fill-available;
  width: -moz-available;
  margin-bottom: 0.126em;
  height: 1.75em;
}

.item:hover,
.item:focus-visible,
.item_container:global(.isSelected) > .item {
  background-color: var(--color-gray-body);
}

.item:focus-visible {
  outline: none;
}

.item_container:global(.isChild) .item:hover,
.item_container:global(.isChild) .item:focus-visible,
.item_container:global(.isChild) .item:focus-within,
.item_container:global(.isChild):global(.isSelected) > .item {
  box-shadow: -6.25em 0 0 var(--color-gray-2);
  background-color: var(--color-gray-2);
}

.item_container:global(.isChild) .item {
  padding: 0.313em 0.938em;
  border-radius: 0;
}

.item_container:global(:not(.isChild)):global(.areChildrenVisible) .item {
  border-radius: 0;
}

.children {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 0.625em;
  width: stretch;
  width: -webkit-fill-available;
  width: -moz-available;
}

div.text {
  font-size: 0.938em;
  max-width: 82%;
  font-weight: 700;
  line-height: unset;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.item_title_container {
  display: flex;
  width: stretch;
  width: -webkit-fill-available;
  width: -moz-available;
}

.item_container:global(.isChild) div.text {
  font-weight: 300;
  color: var(--color-gray-secondary-text);
}

.control_buttons_container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.control_buttons {
  align-items: center;
  justify-content: center;
  display: flex;
  visibility: hidden;
  position: absolute;
  right: 0;
}

.item .control_buttons {
  background-color: var(--color-gray-menu);
  box-shadow: 0px 0px 0.5em 0px var(--color-gray-menu);
}

.item_container:global(.areChildrenVisible) .item .control_buttons {
  background-color: var(--item-children-visible-bg-color);
  box-shadow: 0px 0px 0.5em 0px var(--item-children-visible-bg-color);
}

.item_container .item:focus-visible .control_buttons,
.item_container .item:hover .control_buttons,
.item_container:global(.isSelected) .item .control_buttons {
  background-color: var(--color-gray-body);
  box-shadow: 0px 0px 0.5em 0px var(--color-gray-body);
}

.item_container:global(.isChild) .item:focus-visible .control_buttons,
.item_container:global(.isChild) .item:focus-within .control_buttons,
.item_container:global(.isChild) .item:hover .control_buttons,
.item_container:global(.isChild):global(.isSelected) .control_buttons {
  background-color: var(--color-gray-2);
  box-shadow: 0px 0px 0.5em 0px var(--color-gray-2);
}

.control_buttons:focus-within,
.item:hover .control_buttons,
.item:focus-visible .control_buttons,
.item.item:focus-within .control_buttons {
  visibility: visible;
}

.item_container:global(.areChildrenVisible)
  > .item
  .control_buttons_container
  .control_buttons
  .button_chevron
  svg,
.button_chevron:global(.expanded) svg {
  transform: rotate(180deg);
}

.button_icon_chevron {
  display: flex;
  align-self: center;
  justify-content: center;
}

.button_icon_chevron svg {
  fill: var(--color-gray-icon);
  width: 0.833em;
  width: 0.833em;
  stroke: unset;
}

/*ItemInputField.jsx*/
.edit_form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 0.313em;
  width: stretch;
  width: -webkit-fill-available;
  width: -moz-available;
  height: 1.75em;
  margin-bottom: 0.126em;
}

.containerClassName {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.textbox {
  height: 1.75em;
  line-height: 1.75em;
  margin-right: 0.313em;
}
